# Jekyll / Ruby
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
# Gemfile.lock (Commit it for faster/stabler builds)
# Gemfile.lock

# Node (if you ever add tooling)
node_modules/

# macOS / editors
.DS_Store
